<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee information</title>
    <link rel="stylesheet" href="{% static 'styles/emp.css' %}" />
  </head>
  <body>
    <section>
      <h1>Employee Details</h1>
      <h3>ID: <strong>{{ID}}</strong></h3>
      <h3>NAME: <strong>{{name}}</strong></h3>
      <h3>SALARY: <strong>{{salary}}USD</strong></h3>
      <img src="{% static 'images/index.png' %}" alt="logo" />
    </section>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
