<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Clinical Data {{patient.firstName}} {{patient.lastName}}</title>
  </head>
  <body>
    <h2>Patient Details</h2>
    First Name : {{patient.firstName}} <br />
    Last Name : {{patient.lastName}} <br />
    Age : {{patient.age}} <br />
    <h2>Patient Cliical Data</h2>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
